.wrap_message_permission{
    padding-left: 10px;
}


.links_permission_sign_in{
    color: whitesmoke;
    text-decoration: none;
    transition: all .4s;
}
.links_permission_sign_in:hover{
    color: chartreuse;
    text-decoration: none;
}
.icon_sign_in{
    font-size: 40px;
}
.log_title{
    font-size: 30px;
    margin-right: 15px;
    letter-spacing: 0.2rem;
}
@media screen and (min-width: 600px) {
    .wrap_message_permission{
        padding-left: 10px;
        padding-bottom: 100px;
    }
  }
  